{% extends "base.html" %}

{% block titulo %} index {% endblock %}

    
{% block contenido %}
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ipsam ea libero corporis sed doloremque unde soluta velit similique. Incidunt aliquid totam fugit perspiciatis quaerat neque error quae velit unde! <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus neque commodi excepturi aperiam quasi dolorem maxime dicta, debitis odit, tempore vel quaerat, enim sequi odio reiciendis impedit! Totam, quaerat dolor?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat doloremque cum sapiente itaque assumenda dicta iste, mollitia distinctio vel illo officiis eum ducimus vitae aspernatur ratione optio molestiae, quia dolor! <br>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora obcaecati quidem quibusdam deleniti nihil iure incidunt laborum rerum harum! Deserunt laboriosam voluptas vitae natus cumque minima beatae sunt, corrupti voluptate?
    
{% endblock %}