{% extends "base.html" %}

{% block titulo %} Portafolio {% endblock %}

    
{% block contenido %}

<h2>Portafolio de Servicios</h2>
        <img src="vision.jpg" alt="Imagen1" class="responsive">
        <img src="mision.jpg" alt="Imagen2" class="responsive">
        <div class="container">
            <div class="box">
                
                <h3>Misión</h3>
                <p>Nuestra misión es proporcionar educación de calidad que capacite a nuestros estudiantes para alcanzar su máximo potencial.</p>
            </div>
            <div class="box">
                
                <h3>Visión</h3>
                <p>Nuestra visión es ser líderes en la educación, inspirando a nuestros estudiantes a ser agentes de cambio positivo en la sociedad.</p>
            </div>
            <div class="box">
               
                <h3>Servicios</h3>
                <ul>
                    <li>Clases presenciales y virtuales</li>
                    <li>Asesorías personalizadas</li>
                    <li>Programas extracurriculares</li>
                    <li>Eventos y talleres educativos</li>
                </ul>
            </div>
        </div>
    
{% endblock %}